.header {
    height:80vh;
    background-color:$grey;
    background-image: url('../../images/market.svg');
    background-position:80% 40%;
    background-size:50% 70%;
    background-repeat:no-repeat;
    padding-left:7rem;
    padding-bottom:5rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;

    
    @include respond(misc2) {
        height:50vh;
    }

    @include respond(misc2) {
        height:40vh;
    padding-bottom:3rem;
        background-position:88% 48%;
        background-size:30% 40%;
    }

    &__content {
       h2 {
           font-weight: 600;
           font-size:3rem;
           color:$deep_grey
       }

       p {
         color:$light_grey;
         font-size:2rem;
         width:60%;
       }

       .button__box {
           width:60%;
           margin-top:1rem;

           a {
               transition:all .2s;

               &:hover {
                   color:$blue;
                   background-color:transparent;
                   border:1px solid $blue;
               }
           }
       }
    }
}

.features {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:5rem;
    padding-bottom:5rem;

    &__heading {
        text-align:center;
        width:45%;
        font-weight: 400;
        font-size:2rem;
        color:$light_grey;
        margin-bottom:3rem;

        
        @include respond(misc2) {
            width:80%;
        }
    }


    &__content {
        display:flex;
        // justify-content:flex-start;
        justify-content:space-around;
        flex-wrap:wrap;
        padding:5rem;



        &__box {
            max-height:20rem;
            flex-basis:25%;
            @include flexCenter;
            flex-direction:column;
            text-align:center;

            
            @include respond(misc2) {
                flex-basis:100%;
                margin-bottom:2rem;
            }

            i {
                font-size:3rem;
                margin-bottom:1rem;
                color:$blue;
            }

            h4 {
                font-size:2rem;
                margin-bottom:1rem;
                color:$light_grey;

            }

            p {
                font-size:1rem;
                font-weight:400; 
                color:$deep_grey;
            }
        }
    }


}

.advert {
    //max-height:50vh;
    // margin-top:5rem;
    background-color:$black;
    display:flex;
    align-items: center;

    @include respond(misc1) {
        flex-wrap:wrap;
     }
    

    &__image {
        flex-basis:45%;
        display:flex;
        flex-direction:column;
        justify-content: flex-end;

        @include respond(misc1) {
            flex-basis:100%;
         }

        figure {
            padding-left:3rem;
            padding-right:3rem;
            height:40vh;

            @include respond(misc1) {
               padding-top:3rem;
             }

            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        flex-basis:50%;
        flex-shrink:0;
        flex-grow:0;
        padding:5rem;

        @include respond(misc1) {
           flex-basis:100%;
        }

        h4 {
            font-weight:700;
            color:$white;
            font-size:3rem;
        }

        p {
            color:$grey;
            font-size:1.7rem;
            margin-bottom:2rem;
        }

        .button__box {
            width:70%;

            @include respond(misc1) {
               width:100%;
            }

            

            a {
                transition:all .2s;
                
                &:hover {
                    color:$blue;
                    background-color:transparent;
                    border:1px solid $blue;
                }
            }

            p {
                margin:0;
            }
        }
    }
}


.testimonials {
    background-color:$white;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

    h5 {
        color:$deep_grey;
        width:50%;
        text-align:center;
        font-size:1.5rem;
        padding:3rem 0;

        @include respond(tab-port) {
           width:80%;
         }
    }

    h3 {
        font-size:2rem;
        text-align:center;
        font-weight: 700;
        padding:1rem 0;
    }

    p {
        font-size:1.3rem;
        text-align:center;
        font-weight:400;
        color:$deep_grey;
        width:60%;
    }

    &__details {
        display:flex;
        justify-content: space-between;
        padding:7rem;

        @include respond(misc1) {
            flex-direction:column;
         }

        &__box {
            flex-basis:30%;
            // height:20rem;
            text-align:center;
            display:flex;
            flex-direction:column;

            // @include respond(misc1) {
            //     flex-basis:50%;
            //     flex-wrap:wrap;
            //  }

            @include respond(misc1) {
                flex-basis:100%;
                margin-bottom:3rem;
               // background-color:red;
             }
             
            p {
                width:100%;
                text-align: start;
                padding-bottom:2rem;
            }

            &__media {
                display:flex;
                justify-content: space-between;
                align-items:center;

                // figure {
                //     height:10rem;
                //     width:10rem;
                //     border-radius:50%;

                    img {
                        // height:100%;
                        // width:100%;
                         height:10rem;
                    width:10rem;
                    border-radius:50%;
                    object-fit:contain;
                    }
                // }

                &-detail {
                    h4 {
                        font-size:1.5rem;
                    }

                    p {
                        font-size:1rem;
                    }
                }
            }
        }
    }
}

.gallery {
   display:flex;
   margin-left:1rem;

   @include respond(tab-port) {
      flex-wrap:wrap;
   }


    figure {
        flex-basis:33%;
        height:20rem;
        border:5px solid $black;
        overflow:hidden;
        cursor:pointer;

        @include respond(tab-port) {
           flex-basis: 100%;
         }
        

        img {
            height:100%;
            width:100%;
            object-fit:cover;
            transition:all .2s;


            &:hover {
                transform:scale(1.2);
            }
        }
    }
}


.footer {
   @include flexCenter;
   background-color:$black;
   flex-direction:column;

   .button__box {
     width:20%;
     padding:3rem 0;

     @include respond(tab-port) {
       width:30%;
    }

    @include respond(phone) {
        width:40%;
    }


    @include respond(misc4) {
        width:60%;
    }



     p {
         color:$white;
     }
    
     a {
        &:link,
        &:visited {
            color:$white;
            font-size:.9rem;
            transition:all .2s;
            padding: 1rem 2rem 1rem 2rem;
            text-align:center;
        }

        &:hover,
        &:active {
            color:$blue;
            background-color:$white;
        }
    }
   }

   &__links {
       width:50%;

       @include respond(misc1) {
        width:90%;
     }

       ul {
        @include flexBetween;
        list-style:none;
        padding:2rem 0;
        border-top:1px solid $grey;


           li {
                a {
                    &:link,
                    &:visited {
                        color:$grey;
                        font-size:1.2rem;
                        font-weight:700;
                    }

                    &:hover,
                    &:active {
                        color:$white;
                    }
                }
           }
       }
   }

   p {
       padding:2rem;
       color:$grey;
       text-align:center;
   }
}