$orange_light:#ffb988;
$orange_dark:#ff7730;
$green_light:#7ed56f;
$green_dark: #28b485;
$blue_light:#2998ff;
$blue_dark:#5643fa;

$color_primary: #55c57a;
$color_primary_light:#7ed56f;
$color_primary_dark: #28b485;
$color_grey_dark: #777;
$color_white:  #fff;
$color_black:rgb(15, 14, 14);
$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #999;
$color_grey_light_3: #333;


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}



*,
*::before,
*::after {
    box-sizing:inherit;
}


html {
    box-sizing:border-box;
    font-size:62.5%; //1rem =10px,10px/16px * 100 = 62.45:

    // BreakPoints
    // xm-phone  270
    // -phone     600
    // -tab-port  900
    // -tab-land  1200
    // -big-desktop >1800
    
    @include respond(big-desktop) {
        font-size:75%;//1rem = 12px/16 = 75%
    }

    @include respond(tab-land) {
        font-size:56.25%; //1rem = 9px/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size:50%;//1rem = 8px/16 = 50%
    }

    @include respond(phone) {
        font-size:40%;
    }

}


body {
    background-color:red;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    position:relative;
} 

a {
    cursor:pointer;
    text-decoration:none;
}


.main {
    position:relative;
}
