.button__box {
    display:flex;
    justify-content:space-between;
    align-items:center;

    p {
        font-size:1.3rem;
        font-weight:400;
    }
}

.btn {
    outline:none;
    border:none;
    padding:1rem 3rem 1rem 3rem;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
    
    

    &:link ,
    &:visited {
        color:$white;
        font-size:1.5rem;
        font-weight:700;
    }

    &:hover ,
    &:active {

    }
}

.btn-blue {
    background-color:$blue;
}

.btn-grey {
    background-color:$deep_grey;
}